<html>
  <head>
    <link rel="stylesheet" href="temp.css" />
  </head>
  <body>
    <h1>Available Games</h1>
    <ul>
      <% for(let i = 0; i < gamesListing.length; i++) { %>
      <li>
        <%= i %>:
        <%= gamesListing[i] %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
